.photo-view {
  background-color: black;
}

.photo-viewer {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-view-img {
  max-width: 100%;
  max-height: 100vh;
}
